<div class="MyContainer">
 <div class="panel panel-primary">
 	<div class="panel-heading">
 	  		<button class="btn btn-large btn-primary center-block" ng-click="goBack()">Back</button>
 	</div>
 	<div class="panel-body">
		 <div class="media" ng-repeat="tweet in tweets">
		 	<a href="#Details/{{tweet.id_str}}">
			 	<div class="MyContainerInside">
			 		<div class="media-body">
				    	<div class="pull-right"><img class="img-circle" ng-src="{{tweet.user.profile_image_url}}"></div>
					    <h5 class="media-heading">{{tweet.user.name}}:</h5>
					    <div class="media">{{tweet.text}}</div>
				    </div>
			    </div>
			</a>
		 </div>
	 </div>
 </div>
</div>
